@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*  INFO: all colors are in HSL */
    :root {
        --black: hsl(0 0 9);
        --white: hsl(17 17 92);
        /* hsl(5 30 92)*/
        --bg-primary-light: var(--white);

        --sage-green: hsl(87, 35%, 71%);
        --sage-green-light: hsl(from var(--sage-green) h s 80%);
        --sage-green-dark: hsl(from var(--sage-green) h s 25%);

        --peach: hsl(7 36 74);

        --tan: hsl(52.05 29 54);
    }

    :root {
        --color-text-primary: var(--black);
        --color-text-secondary: hsl(50 19 94);
        --color-bg-primary: var(--bg-primary-light);
        --color-bg-muted: hsl(53 18 90);
        --color-border-primary: var(--black);

        --color-accent-primary: var(--sage-green-dark);
        --color-accent-primary-light: var(--color-accent-primary);

        --color-accent-secondary: var(--tan);
        --color-accent-secondary-light: hsl(from var(--tan) h s 83%);
    }

    :root {
        --fs-200: clamp(0.88rem, 0.8924rem + -0.016vw, 0.8889rem);
        --fs-300: clamp(1rem, 0.9602rem + 0.1804vw, 1.1rem);
        --fs-400: clamp(1.125rem, 1.0255rem + 0.451vw, 1.375rem);
        --fs-500: clamp(1.46rem, 1.0853rem + 0.8174vw, 1.7188rem);
        --fs-600: clamp(1.4238rem, 1.1355rem + 1.3071vw, 2.1484rem);
        --fs-700: clamp(1.6018rem, 1.1705rem + 1.9549vw, 2.6855rem);
        --fs-800: clamp(1.802rem, 1.1832rem + 2.8048vw, 3.3569rem);

        --spacing-050: 0.125rem;
        --spacing-100: 0.25rem;
        --spacing-150: 0.5rem;
        --spacing-200: 0.75rem;
        --spacing-250: 1rem;
        --spacing-300: 1.5rem;
        --spacing-400: 2rem;
        --spacing-450: 2.5rem;
        --spacing-500: 3.5rem;
        --spacing-600: 5rem;
        --spacing-700: 7rem;
        --spacing-800: 10rem;

        --max-page-width: 70rem;
        --full-page-width: min(100%, var(--max-page-width));
        --full-page-padding: 1.5rem;

        --ff-serif: 'EB Garamond', ui-serif, Georgia, serif;

        --ff-sans: sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
        --ff-mono: 'Cutive Mono', monospace;
    }

    @property --inline-size-s {
        syntax: '<length>';
        inherits: true;
        initial-value: 100vw;
    }

    :root {
        --breakpoint-sm: 768px;
        --inline-size-s: min(var(--breakpoint-sm), 100vw);
    }
}
