body {
    font-size: var(--fs-400);
    font-family: var(--ff-serif);
    line-height: 1.5;
}

a {
    color: var(--color-accent-primary);
    text-decoration: underline;

    &:hover {
        color: hsl(from var(--color-accent-primary) / 0.8);
    }
}

h1 {
    font-size: var(--fs-800);
    font-weight: 800;
}

h2 {
    font-size: var(--fs-700);
    font-weight: 700;
}

h3 {
    font-size: var(--fs-600);
    font-weight: 600;
}

h4 {
    font-size: var(--fs-500);
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    margin-block-end: 0.5em;
    text-wrap: balance;
}

html {
    scroll-padding-block-start: calc(var(--floating-nav-height, 0) + var(--spacing-250));
}

main {
    max-width: var(--full-page-width);
    padding-inline: var(--full-page-padding);
}

:not(blockquote) > p ~ p {
    margin-block-start: 1rem;
}

blockquote {
    font-family: var(--ff-mono);

    margin-block: var(--spacing-100) var(--spacing-300);
    padding-inline-start: var(--spacing-250);
    padding-block: var(--spacing-300);
    border-inline-start: 5px solid var(--color-accent-secondary);
    background-color: var(--color-accent-secondary-light);

    & > p:first-of-type {
        margin-block-end: var(--spacing-300);
    }
}
