---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Contact" description="Get in touch with Barbara Siegel Carlson">
    <section class="section pt-0">
        <h1>Contact</h1>

        <form action="/form-success/" method="post" name="contact-form" netlify>
            <input type="hidden" name="form-name" value="contact-form" />

            <fieldset class="form-group">
                <label for="name-input">Name</label>
                <input type="text" name="name" id="name-input" required placeholder=" " />
            </fieldset>
            <fieldset class="form-group">
                <label for="email-input">Email</label>
                <input type="email" name="email" id="email-input" required placeholder=" " />
            </fieldset>
            <fieldset class="form-group">
                <label for="message-input">Message</label>
                <textarea name="message" id="message-input" rows="8" required placeholder=" "></textarea>
            </fieldset>

            <button class="submit" type="submit">
                <span>Submit</span>
            </button>
        </form>
    </section>
</BaseLayout>

<style>
    form {
        display: grid;
        gap: var(--spacing-300);
        margin-inline: auto;
        width: var(--full-page-width);
    }

    fieldset {
        display: grid;

        input,
        textarea {
            border: 1px solid var(--color-accent-primary);
            border-radius: var(--spacing-150);
            padding: var(--spacing-100) var(--spacing-150);
        }
    }

    button[type='submit'] {
        background: var(--color-accent-primary);
        border: none;
        border-radius: var(--spacing-150);
        color: var(--color-bg-primary);
        cursor: pointer;
        padding: var(--spacing-150) var(--spacing-400);
        text-align: center;
        width: fit-content;
        margin-inline: auto;
    }
</style>
