---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title={contact?.title} description={contact?.description}>
    <section class="page-hero pb-4">
        <h1>Contact</h1>
    </section>

    <section class="section pt-0">
        <div class="bg-image">
            <div class="text-wrapper">
                <Content />
                <!-- <dl class="details-grid"> -->
                <!--     <dt>Email</dt> -->
                <!--     <dd>tylertaylorcomposer@gmail.com</dd> -->
                <!-- </dl> -->

                <form action="/form-success/" method="post" name="contact-form">
                    <input type="hidden" name="form-name" value="contact-form" />

                    <fieldset class="form-group">
                        <input type="text" name="name" id="name-input" required placeholder=" " />
                        <label for="name-input">Name</label>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="email" name="email" id="email-input" required placeholder=" " />
                        <label for="email-input">Email</label>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea name="message" id="message-input" rows="8" required placeholder=" "></textarea>
                        <label for="message-input">Message</label>
                    </fieldset>

                    <button class="submit" type="submit">
                        <span>Submit</span>
                    </button>
                </form>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .bg-image {
        --_padding: var(--spacing-400);
        --_margin-inline: var(--spacing-400);

        position: relative;

        width: calc(100% + var(--_margin-inline) * 2);
        min-height: 30rem;
        margin-inline: calc(-1 * var(--_margin-inline));
        padding-block: var(--_padding);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url('../assets/contact-page-background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: brightness(0.8);
        }
    }

    .text-wrapper {
        display: grid;
        gap: var(--spacing-300);
        width: fit-content;

        background: hsl(0 50 100 / 0.5);
        backdrop-filter: blur(0.2rem);
        color: var(--black);
        z-index: 1;

        border-radius: var(--spacing-200);
        padding: var(--spacing-400);
        margin-inline: var(--spacing-200);
    }
</style>
