---
import BaseLayout from '@/layouts/BaseLayout.astro';
import PressList from '@/components/PressList.astro';
import InterviewsList from '@/components/InterviewsList.astro';
import CategoryNav from '@/components/CategoryNav.astro';

const newsTypes = ['Press', 'Interviews'] as const;
---

<BaseLayout title="News" description="News and interviews">
    <CategoryNav categories={newsTypes} />
    <ul class="category-list">
        <li>
            <h2 id="Press">Press</h2>
            <PressList />
        </li>
        <li>
            <h2 id="Interviews">Interviews</h2>
            <InterviewsList />
        </li>
    </ul>
</BaseLayout>

<style>
    .category-pill-list {
        display: flex;
        gap: var(--spacing-200);
        flex-wrap: wrap;
    }

    .category-list {
        display: grid;
        gap: var(--spacing-500);
    }
</style>
