---
import { getCollection } from 'astro:content';

import BaseLayout from '@/layouts/BaseLayout.astro';
import BooksList from '@/components/BooksList.astro';
import TranslationsList from '@/components/TranslationsList.astro';
import Pill from '@/components/Pill.astro';

const poems = await getCollection('poem');
const essays = await getCollection('essay');

const publicationTypes = ['Books', 'Translations', 'Poems', 'Essays'] as const;
---

<BaseLayout title="Publications" description="Poems, translations, and other writings.">
    <div class="title-wrapper">
        <ul class="category-pill-list">
            {
                publicationTypes.map((type) => (
                    <li>
                        <Pill href={`#${type}`}>{type}</Pill>
                    </li>
                ))
            }
        </ul>
    </div>
    <ul class="category-list">
        <BooksList id={'Books' satisfies (typeof publicationTypes)[number]} />
        <TranslationsList id={'Translations' satisfies (typeof publicationTypes)[number]} />
    </ul>
</BaseLayout>

<style>
    .title-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: var(--spacing-400);
        margin-block-end: var(--spacing-300);

        h1 {
            margin-block-end: 0;
        }
    }

    .category-pill-list {
        display: flex;
        gap: var(--spacing-200);
        flex-wrap: wrap;
    }

    .category-list {
        display: grid;
        gap: var(--spacing-500);
    }

    .category-title {
        text-transform: capitalize;
    }
</style>
