---
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { optimizedImageProps } from '@/constants/images';
import type { CollectionEntry } from 'astro:content';

interface Props {
    bio: CollectionEntry<'about'>;
}

const { bio } = Astro.props;
const { title, description, image } = bio.data;
---

<BaseLayout title={title} description={description}>
    <div class="about">
        <div class="image-wrapper">
            {image && <Image src={image.src} alt={image.alt} width={750} height={750} {...optimizedImageProps} />}
            <p class="caption">Image by Lily Stone</p>
        </div>
        <slot />
    </div>
</BaseLayout>

<style>
    .image-wrapper {
        display: grid;
        place-items: center;
    }

    .about p {
        margin-bottom: 1.5rem;
    }
</style>
