---
import { getCollection } from 'astro:content';
import EventsPreview from '@/components/EventsPreview.astro';
import { removeTemplates } from '@/utils/data-utils';
import { sortByFileName } from '@/utils/data-utils';

const events = await getCollection('event');
const cleanEvents = removeTemplates(events);
const sortedEvents = cleanEvents.sort(sortByFileName);
const firstEvent = sortedEvents.at(0);
---

<section>
    <h2 class="title">Recent events</h2>
    <EventsPreview event={firstEvent} />
</section>

<style>
    .title {
        font-style: italic;
    }
</style>
