---
import { render } from 'astro:content';

const { event } = Astro.props;
const { linkText, linkUrl, publication } = event?.data;
const { Content } = await render(event);
---

<article class="event-preview">
    <a class="link" href={linkUrl} target="_blank" rel="noopener noreferrer">
        {linkText}
    </a>
    <p>{publication}</p>
    <Content />
</article>

<style>
    .event-preview p {
        margin: 0;
    }
</style>
