---
import { getCollection, render } from 'astro:content';
import BookPreview from '@/components/BookPreview.astro';

const books = await getCollection('book');
const recentBooks = books.toSorted((a, b) => b.data.year - a.data.year).slice(0, 2);
---

<section id="hero">
    {
        recentBooks.map(async (book, i) => {
            const { Content } = await render(book);

            return (
                <BookPreview book={book} imageDirection={i % 2 === 0 ? 'left' : 'right'}>
                    <Content />
                </BookPreview>
            );
        })
    }
</section>

<style>
    #hero {
        display: grid;
        row-gap: var(--spacing-600);
    }
</style>
