---
import { getCollection, render } from 'astro:content';
import BookPreview from '@/components/BookPreview.astro';
import { removeTemplates } from '@/utils/data-utils';

// Get two most recent books
const rawBooks = await getCollection('book');
const books = removeTemplates(rawBooks);
const recentBooks = books.toSorted((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).slice(0, 2);
---

<section id="hero">
    {
        recentBooks.map(async (book, i) => {
            const { Content } = await render(book);

            return (
                <BookPreview
                    title={book.data.title}
                    publisher={book.data.publisher}
                    date={book.data.date}
                    image={{
                        ...book.data.image,
                        direction: i % 2 === 0 ? 'left' : 'right',
                    }}
                    url={book.data.url}
                >
                    <Content />
                </BookPreview>
            );
        })
    }
</section>

<style>
    #hero {
        display: grid;
        row-gap: var(--spacing-600);
    }
</style>
