---
interface Props {
    direction: 'left' | 'right';
}

const { direction } = Astro.props;
---

<div class="image-sider">
    {direction === 'left' && <slot name="image" />}
    <slot name="text" />
    {direction === 'right' && <slot name="image" />}
</div>
