---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import TranslationCard from './TranslationCard.astro';

const translations = ((await getCollection('translation')) as CollectionEntry<'translation'>[])?.toSorted((a, b) => (b.data.year ?? 0) - (a.data.year ?? 0));

interface Props {
    id: string;
}
const { id } = Astro.props;
---

<div>
    <h2 class="category-title" id={id}>Translations</h2>
    <ul class="translations-list">
        {
            translations.map((translation) => (
                <li class="translation-list-item">
                    <TranslationCard translation={translation} />
                </li>
            ))
        }
    </ul>
</div>

<style>
    .translations-list {
        display: grid;
        row-gap: var(--spacing-200);
    }

    @media (min-width: 768px) {
        .translations-list {
            row-gap: var(--spacing-300);
        }
    }
</style>
