---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import EventCard from '@/components/EventCard.astro';

const events = (await getCollection('event')) as CollectionEntry<'event'>[];

const toTime = ({ data }: CollectionEntry<'event'>) => data.date.getTime();
const pastEvents = events.toSorted((a, b) => toTime(b) - toTime(a)).filter(({ data: { date } }) => new Date(date).getTime() < Date.now());
const upcomingEvents = events.toSorted((a, b) => toTime(a) - toTime(b)).filter(({ data: { date } }) => new Date(date).getTime() > Date.now());
---

<BaseLayout title="Events" description="Events">
    <div class="events-lists-wrapper">
        <div>
            <h2>Upcoming Events</h2>
            {!upcomingEvents.length && <p>No upcoming events</p>}
            <ul>{upcomingEvents.map((event) => <EventCard event={event} />)}</ul>
        </div>
        <div>
            <h2>Past Events</h2>
            <ul>
                {pastEvents.map((event) => <EventCard event={event} />)}
            </ul>
        </div>
    </div>
</BaseLayout>

<style>
    .events-lists-wrapper {
        display: grid;
        gap: var(--spacing-400);
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-250);
    }
</style>
