---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { removeTemplates } from '@/utils/data-utils';
import EventCard from '@/components/EventCard.astro';
import { sortByFileName } from '@/utils/data-utils';

const events = await getCollection('event');
const cleanEvents = removeTemplates(events).toSorted(sortByFileName);

const pastEvents = cleanEvents.filter(({ data: { date } }) => new Date(date).getTime() < Date.now());
const upcomingEvents = cleanEvents.filter(({ data: { date } }) => new Date(date).getTime() > Date.now());
---

<BaseLayout title="Events" description="Events">
    <div class="events-lists-wrapper">
        <div>
            <h2>Upcoming Events</h2>
            {!upcomingEvents.length && <p>No upcoming events</p>}
            <ul>{upcomingEvents.map((event) => <EventCard event={event} />)}</ul>
        </div>
        <div>
            <h2>Past Events</h2>
            <ul>
                {pastEvents.map((event) => <EventCard event={event} />)}
            </ul>
        </div>
    </div>
</BaseLayout>

<style>
    .events-lists-wrapper {
        display: grid;
        gap: var(--spacing-200);
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
